.sidebar {
    /* left: 1vw; */
    bottom: 40%;
    background-color: black;
    border-radius: 0px 10px 10px 0px;
    /* height: 100vh; */
    position: fixed;
}
.social-icon-list {
    font-size: 25px;
    list-style-type: none;
    margin: 7px;
    
}
.fab {
    color: white;

}
.list {
    margin: 10px 0px;

}
.fa-twitter-square:hover {
    color:#1DA1F2 ;
}
.fa-linkedin:hover {
    color:#0e76a8 ;
}
.fa-facebook-square:hover {
    color:#4267B2;
}
.fa-youtube-square:hover {
    color :#FF0000;
    /* background-color: white; */
}